body {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 150px;
  background-color: red;
  animation: change-color 3s ease infinite;
}
body .box:nth-of-type(odd){
  background: black;
  animation: change-color-2 3s ease infinite;
}

@keyframes change-color {
  0% {
    background-color: red;
  }
  50%{
    transform: rotate(360deg);
    background-color: black;
    border-radius: 100%;
  }
  100%{
    background-color: red;
  }
}
@keyframes change-color-2 {
  0% {
    background-color: red;
  }
  50%{
    transform: rotate(360deg);
    background-color: red;
    border-radius: 100%;
  }
  100%{
    background-color: black;
  }
}
